<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Measurements</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Measurements</h1>
    <form th:action="@{/filterMeasurements}" class="d-flex flex-row gap-2" method="get">
        <div  th:each="brand : ${brands}" class="form-check">
            <input type="checkbox" th:id="${'brand_' + brand.getName()}" name="selectedBrands" class="form-check-input" th:value="${brand.getName()}" th:checked="${brand.isPresent}" onclick="this.form.submit()"/>
            <label th:for="${'brand_' + brand.getName()}" class="form-check-label" th:text="${brand.getName()}"></label>
        </div>
     </form>
    <div th:each="measurement: ${measurements}" class="card">
        <div class="card-body">
            <div class="d-flex">
                <img src="https://via.placeholder.com/48" alt="Car Brand Logo" class="rounded-circle me-3" width="48" height="48">
                <div>
                    <h5 class="card-title mb-0" th:text="${measurement.getCar_id()}"/>
                    <p class="card-text text-muted" th:text="${measurement.getTimestamp()}"/>
                </div>
            </div>
            <p class="card-text mt-3">
                Temperature: <span th:text="${measurement.getTemp()}"></span><br>
                Pressure: <span th:text="${measurement.getPress()}"></span><br>
                Angular Velocity: <span th:text="${measurement.getOmega()}"></span><br>
                Speed: <span th:text="${measurement.getSpeed()}"></span>
                Position: <span th:text="${measurement.getPosition()}"></span>
            </p>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <button class="btn btn-outline-secondary"><i class="bi bi-chat"></i> Detail</button>
            </div>
        </div>
    </div>
    <div class="card" id="replaceMe">
        <button
                hx-get="/measurements?page=2"
                hx-target="#replaceMe"
                hx-swap="outerHTML"
                class="btn btn-outline-primary">Load More...
            <img class="htmx-indicator"src="/spinner.gif"/>
        </button>
    </div>
</div>
</body>
</html>