<html xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:each="measurement: ${measurements}" class="card">
    <div class="card-body">
        <div class="d-flex">
            <img src="https://via.placeholder.com/48" alt="Car Brand Logo" class="rounded-circle me-3" width="48" height="48">
            <div>
                <h5 class="card-title mb-0" th:text="${measurement.getCar_id()}"/>
                <p class="card-text text-muted" th:text="${measurement.getTimestamp()}"/>
            </div>
        </div>
        <p class="card-text mt-3">
            Temperature: <span th:text="${measurement.getTemp()}"></span><br>
            Pressure: <span th:text="${measurement.getPress()}"></span><br>
            Angular Velocity: <span th:text="${measurement.getOmega()}"></span><br>
            Speed: <span th:text="${measurement.getSpeed()}"></span>
        </p>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <button class="btn btn-outline-secondary"><i class="bi bi-chat"></i> Detail</button>
        </div>
    </div>
</div>
<div class="card" id="replaceMe">
    <button
            th:hx-get="${link}"
            hx-target="#replaceMe"
            hx-swap="outerHTML"
            class="btn btn-outline-primary">Load More...
        <img class="htmx-indicator"src="/spinner.gif"/>
    </button>
</div>
</html>